$sideBar-width: 400px;
$sideBar-height: 100vh;

@mixin custom-scroll {
  &::-webkit-scrollbar {
    width: 4px; /* 스크롤바의 너비 */
  }

  &::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #c9cacc; /* 스크롤바의 색상 */
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #e8ecef; /*스크롤바 뒷 배경 색상*/
  }
}

@mixin overflowSetting {
  overflow-x: hidden;
  overflow-y: scroll;
}

@mixin titleTemplate(
  $titeColor,
  $subColor,
  $titleFontSize: 20px,
  $subFontSize: 16px
) {
  :first-child {
    :nth-child(1) {
      font-size: $titleFontSize;
      font-weight: 600;
      color: $titeColor;
    }
    :nth-child(2) {
      font-size: $subFontSize;
      color: $subColor;
    }
  }
}

// SideBarSection.tsx
.SideBarContainer {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
}

.SearchContainer {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  width: $sideBar-width;
  height: $sideBar-height;
  box-shadow: 3px 0 6px 0 rgb(188, 188, 188);
}

.SearchBar {
  margin: 20px 0px;
  padding-left: 45px;
  line-height: 43px;
  height: 42px;
  width: 290px;
  border: 2px solid #19ce60;
  background-color: white;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.FoldingButton {
  display: flex;
  align-items: center;
  position: absolute;

  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  height: 49px;
  width: 22px;
  background-color: white;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  outline: none;
  border: 1px solid #e5e5e5;
  cursor: pointer;

  &:hover {
    background-color: aliceblue;
    color: #3b5bff;
  }
}

.DetailContainer {
  @extend .SearchContainer;
}

// StoresSection.txt
.StoresContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include overflowSetting;
  width: $sideBar-width;
  cursor: pointer;

  @include custom-scroll();
}

// PeekStore.tsx
.StoreInfoContainer {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.PeekStoreImage {
  border-radius: 5px;
  object-fit: cover;
}

.PeekStoreTextBox {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 340px;

  :nth-child(2) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @include titleTemplate(#1d60ac, #a6a7a9);
}

// DetailContents.tsx
.DetailContainer {
  @extend .SearchContainer;
  @include overflowSetting();
  @include custom-scroll();
}

.DetailImageBox {
  display: flex;
}

.DetailbarTextInfo {
  padding: 20px;
  @include titleTemplate('black', #a6a7a9, 23px, 18px);
}

// TabContentsSection.tsx
.TabBar {
  display: flex;
  justify-content: space-around;
  padding: 13px;
  width: 100%;
}

.TabContents {
  width: 100%;
  padding: 15px 10px;
}
